

@import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+web');
body{
    font-size:16px;  
    color: blue   
    background: url(../IMG/fundo.png); 

}
header{
    background: #132129

}
h1,h2,h3{
    font-family: 'Titillium web', sans-serif;

}

header{
    background: #132129
}


.site{
	max-width:  1200px ; /*largura máxima do conteúdo do site*/
	width: 100%;
	margin: 0 auto;

}

.topo h1{
    background: url(../IMG/logo-kibeleza.svg) no-repeat;
    width: 300px;
    height: 90px;
    text-indent: -9999px;
}
.topo nav ul{
    display: flex;
    justify-content: space-between;
}

.topo nav ul li{
    display: block;
    padding: 26px 30px;
    margin:0 15px;
}

.topo{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.topo nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

.topo nav ul li:hover{
    background: rgba(159,135,187,0.50);
}

.iconhome{
    background: url(../IMG/icon/home.svg)no-repeat;
}

.icon{
	display: flex;
	margin-bottom: 10px;
	padding: 20px;
	align-items: baseline;
}

.banner{
	width: 100%;
}

.sobre{
	margin: 2% 0;
}

.sobre div{
	display: flex;
	justify-content: space-around;
}

.sobre div article{
	width: 40%;
}

.sobre div article:nth-child(1){
	margin-left: 12%;
}

.sobre h2{
	font-size: 36px;
	font-weight: bold;
}

.sobre p{
	font-size: 16px;
	text-align: justify;
	border: 2px solid #000000;
	padding: 5% 20% 5% 5%;
	line-height: 25px;
	
}

.sobre div article img{
	width: 100%;
	position: relative;
	margin-left: -20px;
	margin-top: 100px;
}

.servico{
	background: rgba(159,135,187,0.70);
	padding: 40px;
	text-align: center;
	

} 

.servico h2{
	background: #9F87BB;
	padding: 10px;
	width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	color:white;
	font-weight: bold;
}

.servico hr{
height: 3px;
	background: rgba(239,239,239,1.00);
	position: relative;
	margin-top: -3px;
	border: none;

}

.servicoum{
	display: flex;
	justify-content: space-between;
}

.servicoum article{
	width: 23%;
	background: #FFFFFF;
	padding: 3px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px #333;
}

.servicoum article img{
	width: 100%;
	border-radius: 5px 5px 0 0; 
}

.servicoum article h3{
	color: #9F87BB;
	padding: 3% 0;
}

.servicoum p{
	text-align: justify;
	padding-bottom: 20px;
	font-size: 12px;
	
}

.servicoum article a{
	display: block;
	width: 120px;
	height: 30px;
	margin: 0 auto;
	line-height: 28px;                                                     
	text-decoration: none;
	background: #9F87BB;
	color: #FFFFFF;
	border-radius: 5px;
}

.servicoum article a:hover{
	background: #CCC;
	color: #9F87BB;
}

.equipe{
    padding: 2% 0;
    text-align: center;
        
}

.equipe h2{
    background: #9F87BB;
    width: 120px;
    margin: 0 auto;
    padding: 1%;
    line-height: 20px;
    border-radius: 5px 5px 0 0;
    color: #F8F8F8;
    font-weight: bold;
}

.equipe hr{
    height: 3px;
    background: #9F87BB;
    border: none;
    position: relative;
    margin-top: -2;
}

.equipeum{
    display: flex;
    justify-content: space-around;
    margin: 1.5% 0;
}

.equipeum article{
    width: 15%;
}

.equipeum img{
    border-radius: 50%;
    width: 70%;
}

.equipeum h3{
    color: #9F87BB;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.equipeum h4{
    color: #333;
    font-size: 33px;
}

.depoimento{
    background: rgba(159,135,187,0.7);
    padding: 2% 0;
    text-align: center;
}

.depoimento article{
    background: #F8F8F8;
    padding: 50px 100px;
    border-radius: 5px;
    border-top: solid 40px #333;
    
    
}

.depoimento p{
    color: #9F87BB;
    font-size: 20px;
    line-height: 40px;
}

.depoimento h2{
    color: #9F87BB;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}